{% extends "admin/base.html" %}
{% load i18n %}
 
{% block title %}{{ title }} | {% trans 'LAIS HUOL UFRN' %}{% endblock %}
 
{% block branding %}
<style type="text/css">
  #header
  {
    /* your style here */
  }
</style>
{% if user.is_authenticated %}
    {% with "Um Anjo para ELA <a href=\"javascript:history.go(-1)\"> Voltar à página anterior..</a>" as name %}
    <center><h1 id="site-name">{{ name }}</h1>
    {% endwith %}
{% else %}
    {% with "Um Anjo para ELA" as name %}
    <center><h1 id="site-name">{{ name }}</h1>
    {% endwith %}
{% endif %}

{% endblock %}
 
{% block nav-global %}{% endblock %}
