{% extends "supervisorio/base.html" %}

{% block content %}
<center><p> <a class="btn btn-default" href="javascript:history.go(-1)" role="button"> Retornar </a> <a class="btn btn-default" href="/admin/Administra%C3%A7%C3%A3o/paciente/{{ id }}/" role="button"> Visualizar Perfil </a> <a class="btn btn-default" href="javascript:location.reload(true);" role="button"> Atualizar </a> </p>
<script src="{{ STATIC_URL}}js/highcharts.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x'
            },
            title: {
                text: 'Monitoramento de Parâmetros'
            },
            subtitle: {
text: '{{ nomePaciente }}'
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    overflow: 'justify'
                }
            },
            yAxis: {
                labels: {
                    format: '{value}'
                },
                title: {
                    text: 'Todos os parâmetros'
                },
                min: 0,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null,
            },
            tooltip: {
                formatter : function() {
                                console.log(this);
                                return this.y + ' ' +  this.series.tooltipOptions.valueSuffix;
                            }
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false
                    },
                    pointInterval: 1000, // one point per second
                }
            },
            series: [{
                name: 'Saturação de Oxigênio',
                pointStart: Date.UTC(2014, 0, 14, 1, 1, 1),
                data: {{ spo2 }},
                tooltip: {
                    valueSuffix: '% de 760 mmHg'
                }
            }, {
                name: 'Frequência Respiratória',
                pointStart: Date.UTC(2014, 0, 14, 1, 1, 1),
                data: {{ fr }},
                tooltip: {
                    valueSuffix: 'rpm'
                }
            }, {
                name: 'Frequência Cardíaca',
                pointStart: Date.UTC(2014, 0, 14, 1, 1, 1),
                data: {{ fc }},
                tooltip: {
                    valueSuffix: 'bpm'
                }
            }, {
                name: 'Fuga de Ar',
                pointStart: Date.UTC(2014, 0, 14, 1, 1, 1),
                data: {{ fa }},
                tooltip: {
                    valueSuffix: 'L/min'
                }
            }, {
                name: 'Volume Total Estimado',
                pointStart: Date.UTC(2014, 0, 14, 1, 1, 1),
                data: {{ vt }},
                tooltip: {
                    valueSuffix: 'L'
                }
            }]
            ,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    });
</script>
{% endblock %}

