{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Um Anjo para ELA - Laboratório de Inovação Tecnológica em Saúde LAIS HUOL UFRN</title>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.maskedinput.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <ul class="nav navbar-nav navbar-collapse collapse">
                  <li><a href="http://lais.huol.ufrn.br" class="navbar-brand" target="_blank">
                  <img alt="Laboratório de Inovação Tecnológica em Saúde" height=25 width=25 src="{{ STATIC_URL }}img/logo.png"></a></li>
                  <a class="navbar-brand" href="/"><b>ELAWeb</b></a>
            </div>

            <ul class="nav navbar-nav navbar-collapse collapse">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Paciente</b><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="menu"><a href="/paciente/add/" class="twitter-share-button"><i class="glyphicon glyphicon-plus"></i> Adicionar um novo</a>
                    <li class="menu"><a href="/admin/Administra%C3%A7%C3%A3o/paciente/" class="twitter-share-button"><i class="glyphicon glyphicon-list"></i> Listar todos os pacientes</a>
                    <li class="menu"><a href="/monitorar/" class="twitter-share-button"><img src="{{ STATIC_URL }}img/chart.png" width=15 height=15></i> Monitorar</a>
                    <li class="menu"><a href="/statistics/" class="twitter-share-button"><i class="glyphicon glyphicon-list-alt"></i> Estatísticas</a>
                </ul>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Ventilador</b><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="menuilators"><a href="/admin/Administra%C3%A7%C3%A3o/aparelho/add/" class="twitter-share-button"><i class="glyphicon glyphicon-plus"></i> Adicionar um novo</a>
                    <li class="menu"><a href="/admin/Administra%C3%A7%C3%A3o/aparelho/" class="twitter-share-button"><i class="glyphicon glyphicon-list"></i> Listar todos os ventiladores</a>
                    <li class="menu"><a href="#" id="solicitar_reparo" class="twitter-share-button"><i class="glyphicon glyphicon-wrench"></i> Solicitar Reparo</a>
                </ul>
                <li class="dropdown"><a href="/admin/"><b>Administração</b></a></li>
                <li class="dropdown"><a href="/logout/"><b>Sair do sistema</b></a></li>
                <li class="dropdown"><a href="/help/"><img src="{{ STATIC_URL }}img/help.png" height=25 width=25><b>Ajuda</b></a></li>
            </ul>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form">
                    <a class="btn btn-primary">Você está logado como {{ user.username }}.</a>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
<br><br><br><br>
<div id="content" class="container theme-showcase">
    <center><div id="alert-area"></div></center>
    <script>
        function newAlert (type, message) {
            $("#alert-area").append($("<div class='alert-message " + type + " fade in' data-alert><p> " + message + " </p></div>"));
            $(".alert-message").delay(3000).fadeOut("slow", function () { $(this).remove(); });
        }
        $('#solicitar_reparo').click(function(e) {
            e.preventDefault();
            newAlert('success', '<a class="btn btn-danger">Essa função ainda não foi implementada.</a>');
        });
    </script>

{% block content %}{% endblock %}

</div>

<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

</body>
</html>

<div class="container">


    <style> #footer { position:fixed; width:84%; height:100px; } </style>

    <center><footer id="footer">
    <hr>
        <center><p>Um Anjo para ELA - Sistema Supervisório para Monitoramento Homecare de Pacientes com Esclerose Lateral Amiotrófica</p>
    <div class="well well-small">
        <center><p>Copyright 2013 &copy; Laboratório de Inovação Tecnológica em Saúde</p>
        <center><p>LAIS HUOL UFRN</p>
    </div>
    </footer>
</div> <!-- /container -->
    <script>
        x = $('#content').height()+70; // +70 gives space between div and footer
        y = $(window).height();

        if (x+160<=y){ // 160 is the height of your footer
            $('#footer').css('top', y-160+'px');// again 160 is the height of your footer
            $('#footer').css('display', 'block');
        }else{
            $('#footer').css('top', x+'px');
            $('#footer').css('display', 'block');
        }
    </script>
