{% extends "supervisorio/base.html" %}

{% block content %}
<div class="ui-widget">
    <center><a href="javascript:history.go(-1)" class="btn btn-danger"><b><u>Atenção:</b></u>{{ mensagem }}.<br>Clique nesta barra para voltar à página anterior.</a>
</div>
{% endblock %}
