{% extends "supervisorio/base.html" %}
{% block content %}

        <div class="row">
            <center><div class="col-md-4">
            <img src="{{ STATIC_URL }}img/ventilator.png" width=45 height=45>
            <h2>Ventilador Mecânico</h2>
            <p align="justify">O ventilador mecânico é o responsável por dar todo o suporte ventilatório e respiratório ao paciente com Esclerose Lateral Amiotrófica. No menu ventilador você poderá ativar ou desativar ventiladores já adicionados ao sistema, editar atributos de ventiladores adicionados anteriormente ou adicionra novos ventiladores. </p>
            <br>
            <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
        </div>
        <center><div class="col-md-4">
            <img src="{{ STATIC_URL }}img/patient.png" width=45 height=45>          
            <h2>Paciente</h2>
            <p align="justify">Cada <b>paciente</b> é registrado individualmente no sistema, com diversos dados importantes para identificação do paciente. Na aba <i>paciente</i> você poderá adicionar um novo paciente ao banco de dados, alterar as informações de pacientes previamente cadastrados ou fazer uma listagem com filtros de algum paciente que você possa estar buscando. </p>
            <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
        </div>
        <center><div class="col-md-4">
            <img src="{{ STATIC_URL }}img/monitor.png" width=45 height=45>
            <h2>Monitor</h2>
            <p align="justify">Uma das partes mais importantes para a equipe de saúde, a aba <b>monitorar</b> fornece as opções de visualização das medições e monitoramentos através de gráficos, oferecendo opções de visualização da <i>Saturaçao de Oxigênio</i>, <i>Frequência Respiratória</i>, <i>Frequência Cardíaca</i>, <i>Fuga de Ar</i> e <i>Volume Total</i>..</p>
            <br>
            <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
        </div>
    </div>
{% endblock %}
