{% extends "supervisorio/base.html" %}

{% block content %}
<div class="ui-widget">
    <div class="row">
        <center><div class="col-md-5">
            <label for="pname">Nome do Paciente: </label>
            <input type="text" size="30" id="pname">
        </div>

        <center><div class="col-md-4">
            <label for="datai">Período de: </label>
            <input type="text" size="7" id="datai"> <b>a:</b> <input type="text" size="7" id="dataf">
        </div>
        <center><div class="col-md-2">
<ul class="nav navbar-nav navbar-collapse collapse">
    <li class="active dropdown">
    <a href="#" class="dbtn btn-primary dropdown-toggle" data-toggle="dropdown">Consultar <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class="menu"><a href="#" id="spo2" class="twitter-share-button"> Saturação de Oxigênio </a>
        <li class="menu"><a href="#" id="fr" class="twitter-share-button"> Frequência Respiratória </a>
        <li class="menu"><a href="#" id="fc" class="twitter-share-button"> Frequência Cardíaca </a>
        <li class="menu"><a href="#" id="fa" class="twitter-share-button"> Fuga de Ar </a>
        <li class="menu"><a href="#" id="vt" class="twitter-share-button"> Volume Total </a>
        <li class="active"><a href="#" id="allparams" class="twitter-share-button"> <b>Todos os parâmetros</b> </a>
    </ul>
</ul>
</div>
</div>
<br><br><br>

<script>
    $(function() {
        $("#pname").autocomplete({
            source: "/api/get_pname/",
            minLength: 2,
        });
    });
    $('#datai').click(function(e) {
            e.preventDefault();
     });
     $(function() {
         $('#datai,#dataf').datepicker({
             dateFormat: 'dd/mm/yy',
             changeMonth: true,
             changeYear: true,
         });
     });
    $('#spo2').click(function(e) {
            e.preventDefault();
            url = "/monitorar/spo2/" + $('#pname').val() + ":" + $('#datai').val() + "-" + $('#dataf').val();
            window.location = url;
    });
    $('#fr').click(function(e) {
            e.preventDefault();
            url = "/monitorar/fr/" + $('#pname').val();
            window.location = url;
    });
    $('#fc').click(function(e) {
            e.preventDefault();
            url = "/monitorar/fc/" + $('#pname').val();
            window.location = url;
    });
    $('#fa').click(function(e) {
            e.preventDefault();
            url = "/monitorar/fa/" + $('#pname').val();
            window.location = url;
    });
    $('#vt').click(function(e) {
            e.preventDefault();
            url = "/monitorar/vt/" + $('#pname').val();
            window.location = url;
    });
    $('#allparams').click(function(e) {
            e.preventDefault();
            url = "/monitorar/all/" + $('#pname').val();
            window.location = url;
    });

</script>

{% endblock %}
