{% extends "supervisorio/base.html" %}
{% block content %}
<div class="row">
{% if user.is_superuser %}


<form action="/paciente/add/" method="post">{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
<br>
<center><input type="submit" class="btn btn-primary" style="height:50px; width:200px" value="Adicionar paciente" />
</form>
</div>

<script>
$(function() {
    $('#id_nascimentoPaciente').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:2014',
    });
});
$(function(){
    $('#id_cpfPaciente').mask("999.999.999-99",{placeholder:" "});
    $('#id_susPaciente').mask("999 9999 9999 9999",{placeholder:" "});
    $('#id_telefonePaciente').mask("(99) 9999-9999",{placeholder:" "});
    $('#id_nascimentoPaciente').mask("99/99/9999",{placeholder:" "});
    $('#id_cepPaciente').mask("99.999-999",{placeholder:" "});
});

$('#id_pesoPaciente').keypress(function(event) {
    if (event.which != 37 || event.which != 39) {
        if (event.which < 46 || event.which > 59) {
            event.preventDefault();
        } // prevent if not number/dot
        if (event.which == 46 && $(this).val().indexOf('.') != -1) {
            event.preventDefault();
        } // prevent if already dot
    }
});
$('#id_alturaPaciente').keypress(function(event) {
    if (event.which != 37 || event.which != 39) {
        if (event.which < 46 || event.which > 59) {
            event.preventDefault();
        } // prevent if not number/dot
        if (event.which == 46 && $(this).val().indexOf('.') != -1) {
            event.preventDefault();
        } // prevent if already dot
    }
});

</script>

<style>
form {
    width: 400px;
    padding: 20px;
    border: 1px solid #270644;
}
label {
      width: 25%;
}
</style>

{% else %}
    <center><a href="javascript:history.go(-1)" class="btn btn-danger"><b><u>Atenção:</b></u> Infelizmente, apenas usuários administradores podem adicionar novos pacientes.<br>Clique nesta barra para voltar à página anterior.</a></p>
{% endif %}
{% endblock %}
