{% extends "supervisorio/base.html" %}

{% block content %}
<center><p> <a class="btn btn-default" href="javascript:history.go(-1)" role="button"> Retornar </a> <a class="btn btn-default" href="/admin/Administra%C3%A7%C3%A3o/paciente/{{ id }}/" role="button"> Visualizar Perfil </a> <a class="btn btn-default" href="javascript:location.reload(true);" role="button"> Atualizar </a> </p>
<script src="{{ STATIC_URL}}js/highcharts.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x'
            },
            title: {
                text: 'Monitoramento de Parâmetros'
            },
            subtitle: {
text: '{{ nomePaciente }}'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Saturação de Oxigênio (% de 760mmHg)'
                },
                min: 0,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null,
                plotBands: [{ // Perigo
                    from: 0.0,
                    to: 89.0,
                    color: 'rgba(255, 10, 10, 0.7)',
                    label: {
                        text: 'Zona de Perigo',
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Fora de perigo
                    from: 90.0,
                    to: 99.0,
                    color: 'rgba(255, 255, 255, 0.1)',
                    label: {
                        text: 'Fora de Perigo',
                        style: {
                            color: '#606060'
                        }
                    }
                }]
            },
            tooltip: {
                valueSuffix: '% de 760 mmHg'
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false
                    },
                }
            },
            series: [{
                name: 'SpO2',
                // The |safe means we know the characters we're handling
                // That is, single quotes are ok.
                data: [ {{ pontos|safe }} ]
            }]
            ,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    });
</script>
{% endblock %}

