{% extends "supervisorio/base.html" %}

{% block content %}
<div class="ui-widget">
    <p><p><b>Número de pacientes</b>: {{ numPacientes }}</p>
    <p><b>Número de aparelhos</b>: {{ numAparelhos }}</p>
    <p><b>Número de Amostras</b>: {{ numMonitoramentos }}</p>
    <p><b>Número de usuários</b>: {{ numUsuarios }}</p>
    <p><b>Número de grupos</b>: {{ numGrupos }}</p>
</div>
{% endblock %}
