{% extends "supervisorio/base.html" %}

{% block content %}
<center><p> <a class="btn btn-default" href="javascript:history.go(-1)" role="button"> Retornar </a> <a class="btn btn-default" href="/admin/Administra%C3%A7%C3%A3o/paciente/{{ id }}/" role="button"> Visualizar Perfil </a> <a class="btn btn-default" href="javascript:location.reload(true);" role="button"> Atualizar </a> </p>
<script src="{{ STATIC_URL}}js/highcharts.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x'
            },
            title: {
                text: 'Monitoramento de Parâmetros'
            },
            subtitle: {
text: '{{ nomePaciente }}'
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    overflow: 'justify'
                }
            },
            yAxis: {
                title: {
                    text: 'Volume Total Estimado (L)'
                },
                min: 0,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null,
            },
            tooltip: {
                valueSuffix: ' L'
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false
                    },
                    pointInterval: 1000, // one point per second
                }
            },
            series: [{
                name: 'Volume Total Estimado',
                // below, we will say when the monitoring started
                pointStart: Date.UTC(2014, 0, 14, 1, 1, 1),
                data: {{ vt }}
            }]
            ,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    });
</script>
{% endblock %}

